name: Explore Server Directory

on:
    workflow_dispatch: # Trigger manually
        inputs:
            directory:
                description: 'Server Directory'
                required: false
                default: 'mm-quant-trading-engine'
                type: string

jobs:
    ssh-and-list-files:
        runs-on: ubuntu-latest
        environment: trading_server
      
        steps:
        - name: Check secrets exist
          run: |
              echo "SSH_HOST exists: ${{ secrets.SSH_HOST != '' }}"
              echo "SSH_USERNAME exists: ${{ secrets.SSH_USERNAME != '' }}"
              echo "SSH_PRIVATE_KEY exists: ${{ secrets.SSH_PRIVATE_KEY != '' }}"
              echo "SSH_PORT exists: ${{ secrets.SSH_PORT != '' }}"

        - name: Explore server directory
          uses: appleboy/ssh-action@v0.1.5
          with:
              host: ${{ secrets.SSH_HOST }}
              username: ${{ secrets.SSH_USERNAME }}
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              port: ${{ secrets.SSH_PORT }}
              script: |
                  # Variables
                  PROJECT_DIR="${{ github.event.inputs.directory }}"

                  cd "$PROJECT_DIR"
                  ls -la
                  pwd
